# Telegram
BOT_TOKEN=
CHANNEL_ID=
ADMIN_ID=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=
REDIS_PASSWORD=
REDIS_PREFIX=twatch
REDIS_DEFAULT_TIMEOUT=300

# Webhook
WEBHOOK_URL=
WEBHOOK_PATH=/
WEBAPP_HOST=127.0.0.1
WEBAPP_PORT=8443

# Bitpin API
API_BASE_URL=https://api.bitpin.org/api/v1/mkt/tickers/

# Scheduling / cache
REDIS_UPDATE_INTERVAL_MINUTES=14
CHANNEL_SEND_INTERVAL_MINUTES=15
REDIS_EXPIRY_MINUTES=30

# Misc
TIMEZONE=Asia/Tehran
ENABLE_LOGGING=false
